.edit-form__close-botton {
  position: absolute;
  width: 32px;
  height: 32px;
  right: -40px;
  top: -40px;
}

@media screen and (max-width: 1200px) {
  .edit-form__close-botton {
    width: 20px;
    height: 20px;
    right: 0;
  }
}
