.profile__info {
  box-sizing: content-box;
  max-width: 336px;
  display: flex;
  flex-direction: row;
  padding-left: 30px;
  align-items: flex-start;
  flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .profile__info {
    justify-content: center;
    align-items: center;
    max-width: 282px;
    padding: 0;
  }
}
