.edit-form__container {
  background-color: #fff;
  max-width: 430px;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

@media screen and (max-width: 1200px) {
  .edit-form__container {
    margin-top: 245px;
    max-width: 282px;
  }
}
